/* Styles for index */
#index-body {
    background-color: #000000;
    text-align: center;
    
}

#index-h1 {
    color: #DCC3AA;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

#index-anchors a{
    display: block;
    margin: 20px;
    font-size: 25px;
}

#index-anchorarannis {
    color: darkgreen;
}

#index-anchorzarenna {
    color: pink;
}

#index-anchorcariel {
    color: yellow;
}


/* Styles for Arannis */
#arannis-body {
    background-color: darkgreen;
}

#arannis-body hr {
    border-color: black;
}

#arannis-abilityscorestable, #arannis-abilityscorestable th,#arannis-abilityscorestable td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

#arannis-skilldiv {
    font-size: smaller;
}


/* Styles for Zarenna */
#zarenna-body {
    background-color: pink;
}

/* Styles for Cariel */
#cariel-body {
    background-color: yellow;
}